<div class="topic-index-wrapper">
  <div class="container">
    <% @topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= topic.user.name %>
            </h2>
            <%= image_tag topic.image.url %>
            <!--いいねがついていない時-->
              <% if !topic.favorite_users.include?(current_user) %><!--条件式が偽の場合の処理=unless-->
                <%= link_to favorites_path(topic_id: topic.id), method: :post do %>
                  <%= image_tag 'icons/heart-black.png', class: 'topic-index-icon-off' %>
                <% end %>
              <% else %><!--いいねがついた時、ハートを赤色にする-->
                <%= link_to favorites_path(topic_id: topic.id), method: :delete do %>
                  <%= image_tag 'icons/heart-black.png', class: 'topic-index-icon-on' %>
              <% end %>
            <% end %>
          
            <%= topic.favorite_users.count %>

            <%= image_tag 'icons/comment.png', class: 'topic-index-icon' %>
            <p class="topic-text">
              <%= topic.description %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>