<!DOCTYPE html>
<html>
  <head>
    <title>Pictgram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--application.scssの読み込み-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--application.jsの読み込み-->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
